@import 'https://fonts.googleapis.com/css?family=Monoton|Rock+Salt|Special+Elite|Reenie+Beanie';
.App {
  position: flex;
  background-color: #9a8480;
  top: 0;
  left: 0;
  width: 100vw;
  /* height: 100vh; */
  font-family: 'Special Elite';
  display: flex; }
  @media screen and (max-width: 980px) {
    .App {
      flex-direction: column; } }
  .App .Image {
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    /* position: relative; */
    /* background-size: cover; */
    background-position: top;
    opacity: .8;
  }
    /* @media screen and (max-width: 980px) {
      .App .Image {
        justify-content: center;
        width: 100vw;
        height: 100vh;
      }
        .App .Profile {
          width: 60%;
        }
      } */
      /* img {
        display: flex;
        justify-content: flex-end;
      } */
  .App .Profile {
    width: 50vw;
    padding: 2vw;
    /* background-color: #d7dae0; */
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    color: white; }
    @media only screen and (max-width: 980px) {
      .App .Profile {
        width: 100vw;
        height: 100vh;
      }
      }
    .App .Profile .Name {
      text-align: center;
      font-size: 5.5vw;
      font-family: 'Special Elite';
      /* margin-bottom: 4vw; */
      margin-bottom: 0;
      margin-top: 0;
      opacity: 0.7;
    }
    .App .Profile .Bio {
      text-align: right;
      font-size: 18px;
      line-height: 1.8;
      /* margin-bottom: 3vw; */
      opacity: .4; }
    .App .Profile .Education {
      font-size: 18px;
      line-height: 1.8;
      margin-bottom: 3vw;
      opacity: .6;
    }
    .App .Profile .Github {
      display: flex;
      justify-content: center;
      font-size: 18px;
      line-height: 1.8;
      margin-right: 3vw;
      opacity: .6;
    }
    .App .Profile .Linkedin {
      justify-content: center;
      display: flex;
      font-size: 18px;
      line-height: 1.8;
      margin-left: 3vw;
      opacity: .6;
    }
    .App .Profile .Quote {
      margin-top: auto; }

      .App .Profile .Quote blockquote {
        font-size: 36px;
        font-family: 'Reenie Beanie';
        font-style: italic;
        line-height: 1.4;
        margin-bottom: .6em;
      opacity: .7; }
      .App .Profile .Quote .byline {
        font-family: 'Reenie Beanie', serif;
        text-align: right;
        font-size: 22px;
        font-style: italic;
        opacity: .25; }
